/* font family  */
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;600;700;900&family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600;6..12,700;6..12,800&family=Roboto&display=swap');
/* variables  */
:root {
  --clr-primary: hsl(215, 99%, 66%);
  --clr-secondary: hsl(259, 69%, 65%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(0, 0%, 98%);
  --clr-neutral-900: hsl(230, 32%, 15%);

  --gradient: linear-gradient(
    -255deg,
    var(--clr-primary),
    var(--clr-secondary)
  );

  --ff-family: 'Hanken Grotesk', sans-serif;
  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fs-300: 0.8125rem;
  --fs-400: 0.875rem;
  --fs-450: 0.925rem;
  --fs-500: 0.9375rem;
  --fs-600: 1rem;
  --fs-700: 1.875rem;
  --fs-800: 2.5rem;
  --fs-900: 3.5rem;

  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-800);
  --fs-secondary-heading: var(--fs-700);
  --fs-nav: var(--fs-600);
  --fs-button: var(--fs-300);

  --size-100: 0.25rem;
  --size-200: 0.5rem;
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-450: 1.25rem;
  --size-500: 1.5rem;
  --size-550: 1.75rem;
  --size-600: 2rem;
  --size-650: 2.5rem;
  --size-700: 3rem;
  --size-800: 4rem;
  --size-900: 5rem;
}
/* reset css */
* {
  font: inherit;
}
body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  text-align: center;
  background: var(--clr-neutral-200);
  color: var(--clr-neutral-900);
  font-family: var(--ff-family);
}
/* main */
main {
  padding: var(--size-700);
  background: var(--clr-neutral-100);
  
}
/* whole card */
.card {
  display: grid;
  grid-template-columns: 2rem 20rem 2rem;
  grid-template-rows: repeat(3, auto);
}
/* top part */
.greeting {
  background: var(--gradient);
  color: var(--clr-neutral-100);
  border-radius: var(--size-200);
  grid-column: 1 / -1;
  grid-row: 1 / 3;

  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  -webkit-border-radius: var(--size-200);
  -moz-border-radius: var(--size-200);
  -ms-border-radius: var(--size-200);
  -o-border-radius: var(--size-200);
}
.greeting div {
  grid-column: 2 / 3;
  padding-block: var(--size-400);
}
.greeting p {
  font-size: var(--fs-550);
}
/* bottom part */
.card-profile {
  display: grid;
  gap: var(--size-500);
  grid-template-columns: repeat(4 auto);
  background: var(--clr-neutral-100);
  padding: var(--size-600) var(--size-800) var(--size-800);
  border-radius: var(--size-200);
  grid-column: 2 / 3;
  grid-row: 2 / 4;
  -webkit-border-radius: var(--size-200);
  -moz-border-radius: var(--size-200);
  -ms-border-radius: var(--size-200);
  -o-border-radius: var(--size-200);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}
.card-profile > * {
  margin: 0;
}
.card-heading {
  font-size:var(--fs-700);
  font-weight: bold;
}
.card-profile img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  max-width: 30%;
}
.card-profile .name {
  font-size: var(--fs-600);
  font-weight: bold;
}
.avatar > * {
  margin: 0;
  padding: 0.35rem 0;
}
.status {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25em;
  font-size: var(--fs-450);
  border: 1px solid rgba(133,133,133, 0.25);
  border-radius: 100vw;;
  -webkit-border-radius: 100vw;
  -moz-border-radius: 100vw;
  -ms-border-radius: 100vw;
  -o-border-radius: 100vw;
  width: max-content;
  margin-inline: auto;
  opacity: 0.8;
  padding: .05em 0.75em;
}
.status::before {
  content: '';
  height: 0.70em;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: var(--status-color, black);

}
.status[data-status="active"] {
  --status-color: green;
}
/* for other statuses, background color can be changed using JS */
.status[data-status="away"] {
  --status-color: orange;
}

.button {
  font-size: var(--size-400);
  /*font-weight: var(--fw-bold);
  */padding: var(--size-400);
  background: var(--gradient);
  color: var(--clr-neutral-100);
  border: 0;
  border-radius: var(--size-100);
  -webkit-border-radius: var(--size-100);
  -moz-border-radius: var(--size-100);
  -ms-border-radius: var(--size-100);
  -o-border-radius: var(--size-100);
  cursor: pointer;
  background-size: 100%;
  transition: background-size 200ms;
  -webkit-transition: background-size 200ms;
  -moz-transition: background-size 200ms;
  -ms-transition: background-size 200ms;
  -o-transition: background-size 200ms;
}
.button:is(:hover, :focus) {
  background-size: 150%;
}
/*  for small screens */
@media (max-width: 30em) {
  main {
    padding: var(--size-300);
    margin: 1rem;
  }
  .greeting p {
    font-size: var(--fs-500);
  }
  .card {
    display: grid;
    grid-template-columns: 2rem 15rem 2rem;
    grid-template-rows: repeat(3, auto);
  }
  .card-profile {
    padding: var(--size-400) var(--size-600) var(--size-500);
  }
  .card-heading {
    font-size:var(--fs-650);
    font-weight: bold;
  }
  .status {
    font-size: var(--fs-300);
  }
}